/* ___________________ General Rules_______________________ */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    font-size: 100%;
    --sectionPadding: 4rem;
    --mainColor: #2196f3;
    --mainTransition: .3s;
}
body {
    font-family: 'Cairo', sans-serif;
}
a {
    text-decoration: none;
}
a,
a:hover,
a:active,
a:visited {
    color: black;
}
ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0% auto;
}
/*small screens*/
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/*medium screens*/
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/*large screens*/
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
.section-heading {
    position: relative;
    z-index: 2;
    margin-bottom: 3rem;
}
.section-heading h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 1.8rem;
    width: fit-content;
    padding: .6rem 1.5rem;
    border: 2px solid black;
    margin: 0 auto;
    transition: .5s;
    transition-delay:.5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.section-heading h2:hover {
    color: white;
    border: 2px solid white;
}
.section-heading h2::before,
.section-heading h2::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background-color: var(--mainColor);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: -1;
}
.section-heading h2::before {
    left: -2rem;
}
.section-heading h2::after {
    right: -2rem;
}
.section-heading h2:hover::before {
    animation: filling-heading-left .5s linear forwards;
    -webkit-animation: filling-heading-left .5s linear forwards;
}
.section-heading h2:hover::after {
    animation: filling-heading-right .5s linear forwards;
    -webkit-animation: filling-heading-right .5s linear forwards;
}
@keyframes filling-heading-left {
    50% {
        left: 0%;
        height: 15px;
        width: 15px;
    }
    100% {
        left: 0%;
        width: 50%;
        height: 100%;
        border-radius: 0%;
        -webkit-border-radius: 0%;
        -moz-border-radius: 0%;
        -ms-border-radius: 0%;
        -o-border-radius: 0%;
    }
}
@keyframes filling-heading-right {
    50% {
        right: 0%;
        height: 15px;
        width: 15px;
    }
    100% {
        right: 0%;
        width: 50%;
        height: 100%;
        border-radius: 0%;
        -webkit-border-radius: 0%;
        -moz-border-radius: 0%;
        -ms-border-radius: 0%;
        -o-border-radius: 0%;
}
}

.with-padding {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
}

/* ___________________ Navigation Bar Start_______________________ */

header {
    position: fixed;
    padding: 1rem 0%;
    left: 0%;
    top: 0%;
    width: 100%;
    z-index: 100;
    box-shadow: 0 0 10px rgb( 0 0 0 /.2);
    height: 119.2px;
    background-color: white;
}
header .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}
header .container .logo {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--mainColor);
    font-weight: bold;
}
header .container nav .primary-nav {
    display: flex;
}
header .container nav .primary-nav .primary-nav-link {
    position: relative;
}
header .container nav .primary-nav .primary-nav-link::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 0%;
    background-color: var(--mainColor);
    top: -4px;
    left: 0%;
    transition: all var(--mainTransition);
    -webkit-transition: all var(--mainTransition);
    -moz-transition: all var(--mainTransition);
    -ms-transition: all var(--mainTransition);
    -o-transition: all var(--mainTransition);
}
header .container nav .primary-nav .primary-nav-link:hover::before {
    width: 100%;
    
}
header .container nav .primary-nav .primary-nav-link a {
    display: block;
    padding: .5rem 1rem;
    transition: background-color var(--mainTransition);
    -webkit-transition: background-color var(--mainTransition);
    -moz-transition: background-color var(--mainTransition);
    -ms-transition: background-color var(--mainTransition);
    -o-transition: background-color var(--mainTransition);
}
header .container nav .primary-nav .primary-nav-link:hover > a {
    background-color: #f7f7f7;
}
header .container nav .primary-nav .more-links .secondary-nav {
    position: fixed;
    z-index: 99999;
    left: 0%;
    top: 119.2px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 4px solid var(--mainColor) ;
    background-color: white;
}
header .container nav .primary-nav .more-links .secondary-nav .image {
    display: none;
}
header .container nav .primary-nav .more-links .secondary-nav li a {
    display: block;
    padding: 1rem;
    color: var(--mainColor);
    font-weight: bold;
    font-size: 1.1rem;
    transition: all var(--mainTransition);
    -webkit-transition: all var(--mainTransition);
    -moz-transition: all var(--mainTransition);
    -ms-transition: all var(--mainTransition);
    -o-transition: all var(--mainTransition);
}
header .container nav .primary-nav .more-links .secondary-nav li:hover a {
    background-color: #f7f7f7;
}
header .container nav .primary-nav .more-links .secondary-nav li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}
header .container nav .primary-nav .more-links .secondary-nav li a i {
    margin-right: 1rem;
}
header .container nav .primary-nav .more-links .secondary-nav.hide-secondary-nav {
    display: none;
}
@media (min-width:768px) {
    header {
        height: 84.8px;
    }
    header .container {
        flex-direction: row;
        align-items: center;
    }
    header .container nav {
        flex: 1;
    }
    header .container nav .primary-nav {
        justify-content: flex-end;
    }
    header .container nav .primary-nav .primary-nav-link:not(:last-child) {
        margin-right: 1rem;
    }
    header .container nav .primary-nav .primary-nav-link a {
        padding: .5rem 1rem;
        font-size: 1.1rem;
        transition: background-color var(--mainTransition);
        -webkit-transition: background-color var(--mainTransition);
        -moz-transition: background-color var(--mainTransition);
        -ms-transition: background-color var(--mainTransition);
        -o-transition: background-color var(--mainTransition);
    }
    header .container nav .primary-nav .more-links .secondary-nav {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        column-gap: 2rem;
        top:  84.8px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        width: 750px;
    }
    header .container nav .primary-nav .more-links .secondary-nav li {
        width: 45%;
    }
}
@media (min-width: 992px) {
    header .container nav .primary-nav .more-links .secondary-nav {
        width: 970px;
    }
}
@media (min-width:1200px) {
    header .container nav .primary-nav .more-links .secondary-nav {
        width: 1170px;
        height: 300px;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: repeat(10,1fr);
        column-gap: 2rem;
    }
    header .container nav .primary-nav .more-links .secondary-nav li {
        width: 100%;
    }
    header .container nav .primary-nav .more-links .secondary-nav li.image{
        display: block;
        grid-column: 1;
        grid-row: 1/ -1;
        align-self: center;
        
        
    }
    header .container nav .primary-nav .more-links .secondary-nav li.image, 
    header .container nav .primary-nav .more-links .secondary-nav li:nth-child(10) {
        border-bottom: none;
    }
    header .container nav .primary-nav .more-links .secondary-nav .image img {
        width: 400px;
    }
}
/* ___________________ Navigation Bar End_______________________ */

/* ___________________ Hero Section Start_______________________ */
.hero {
    position: relative;
    height: calc(100vh - 119.2px);
    margin-top: 119.2px;
    
}
.hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
    background-color: #ddd;
    z-index: -1;

}
.hero .container  {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .container .arrow {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 30px;
    z-index: 10;
    font-size: 1.5rem;
    color: var(--mainColor);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    animation-name: bouncing ;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
@keyframes bouncing {
    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }
    40%,
    60% {
        transform: translateY(-20%);
        -webkit-transform: translateY(-20%);
        -moz-transform: translateY(-20%);
        -ms-transform: translateY(-20%);
        -o-transform: translateY(-20%);
}
}
.hero .container .content {
    text-align: center;
}
.hero .container .content p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #666;
}
.hero .container .image {
    display: none;
}

@media (min-width: 768px) {
    .hero {
        height: calc(100vh - 84.8px);
        margin-top: 84.8px;
    }
    .hero .container .content p {
        font-size: 1.2rem;
        line-height: 1.6;
        color: #666;
    }
}
@media (min-width: 992px) {
    .hero .container {
        justify-content: center;

        gap: 2rem;
    }
    .hero .container .content {
        text-align: left;
        width: 500px;
        flex: auto;
    }
    .hero .container .content h1 {
        font-size: 2.2rem;
    }
    .hero .container .content p {
        font-size: 1.4rem;
    }
    .hero .container .image {
        display: block;
        flex: auto;
        align-self: flex-start;
        animation-name: move-up-down;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
}
    .hero .container .image img {
        width: 100%;
        max-width: 600px;
    }
    @keyframes move-up-down {
        0% {
            transform: translateY(0);
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
}
        100% {
            transform: translateY(-30px);
            -webkit-transform: translateY(-30px);
            -moz-transform: translateY(-30px);
            -ms-transform: translateY(-30px);
            -o-transform: translateY(-30px);
        }
    }
}

/* ___________________ Hero Section End_______________________ */

/* ___________________Articles Section Start______________________ */

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 2rem;
}
.articles .container .box {
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 0 10px rgb( 0 0 0 /.2);
    transition: var(--mainTransition);
    -webkit-transition: var(--mainTransition);
    -moz-transition: var(--mainTransition);
    -ms-transition: var(--mainTransition);
    -o-transition: var(--mainTransition);
}
.articles .container .box:hover {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}
.articles .container .box .image {
    width: 100%;
    margin-bottom: 1rem;
}
.articles .container .box .image img {
    width: 100%;
}
.articles .container .box .content {
    padding: 0 10px;

}
.articles .container .box .content p {
    line-height: 1.6;
    margin-top: .5rem;
    color: #777;
}
.articles .container .box .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 10px;
    margin-top: 1rem;
    border-top: 1px solid #DDD;
    color: var(--mainColor);
}
.articles .container .box .footer a {
    color: var(--mainColor);
    font-weight: bold;
}
.articles .container .box .footer:hover i {
    animation-name:articles-arrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
}
@keyframes articles-arrow {
    0%,
    20%,
    50%,
    70%,
    100% {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
    40%,
    60% {
        transform: translateX(-5px);
        -webkit-transform: translateX(-5px);
        -moz-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
        -o-transform: translateX(-5px);
}

}
/* ___________________Articles Section End______________________ */


/* ___________________Gallery Section Start______________________ */
.gallery {
    background-color: #eee;
}
.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 2rem;
}
.gallery .container .box {
    padding: 1rem;
    background-color: white;
    
}
.gallery .container .box .image {
    position: relative;
    overflow: hidden;
}
.gallery .container .box .image::before {
    content: "";
    position: absolute;
    height: 0%;
    width: 0%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    background-color: rgb(255 255 255 / .2);
    opacity: 0;
    z-index: 1;
}
.gallery .container .box  img {
    width: 100%;
    transition: var(--mainTransition);
    -webkit-transition: var(--mainTransition);
    -moz-transition: var(--mainTransition);
    -ms-transition: var(--mainTransition);
    -o-transition: var(--mainTransition);
}
.gallery .container .box .image:hover img {
    transform: scale(1.1) rotate(5deg);
    -webkit-transform: scale(1.1) rotate(5deg);
    -moz-transform: scale(1.1) rotate(5deg);
    -ms-transform: scale(1.1) rotate(5deg);
    -o-transform: scale(1.1) rotate(5deg);
}
.gallery .container .box .image:hover::before {
    animation-name: flash;
    animation-duration: .7s;
    animation-timing-function: ease;
    
}
@keyframes flash {
    0%,
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

/* ___________________Gallery Section End______________________ */

/* ___________________Features Section Start______________________ */
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 2rem;
}
.features .container .col {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
}
.features .container .col .image img {
    width: 100%;
}
.features .container .col .image {
    position: relative;
    overflow: hidden;
}
.features .container .col .image::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    z-index: 1;
}
.features .container .col:first-child .image::after {
    background-color: rgba(244, 64, 54, .5);
}
.features .container .col:nth-child(2) .image::after {
    background-color: rgb(0 150 136 / .5);
}
.features .container .col:last-child .image::after {
    background-color: rgba(3, 169, 244, .5);
}
.features .container .col .image::before {
    position: absolute;
    content: "";
    bottom: 0%;
    right: 0%;
    border-style: solid;
    border-width: 0px 0px 190px 472px;
    border-color: transparent transparent white transparent;
    transition: var(--mainTransition);
    -webkit-transition: var(--mainTransition);
    -moz-transition: var(--mainTransition);
    -ms-transition: var(--mainTransition);
    -o-transition: var(--mainTransition);
    z-index: 2;
}
.features .container .col:hover .image::before {
    border-width: 0px 472px 190px 0px;
    border-color: transparent  transparent white transparent;
}
    
.features .container .col .content {
    flex: 1;
}
.features .container .col .content h3 {
    position: relative;
    width: fit-content;
    margin: 1rem auto;
    font-size: 2rem;
    padding: 1rem 0%;
}
.features .container .col .content:first-child h3  {

}
.features .container .col .content h3::after {
    content: "";
    position: absolute;
    bottom: 0%;
    height: 4px;
    width: 80%;

    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.features .container .col:first-child .content h3::after {
    background-color: #f44036;
}
.features .container .col:nth-child(2) .content h3::after  {
    background-color: #009688;
}
.features .container .col:last-child .content h3::after  {
    background-color: #03a9f4;
}
.features .container .col .content p {
    line-height: 2;
    color: #777;
    text-align: center;
    font-size: 1.5rem;
}
.features .container .col a {
    display: block;
    position: relative;
    padding: .8rem 1.5rem;
    width: fit-content;
    margin: 2rem auto;
    font-size: 1.5rem;
    border: 3px solid;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    font-weight: bold;
}
.features .container .col a::before {
    content: "";
    position: absolute;
    left: 0%;
    bottom: 0%;
    height: 100%;
    width: 0%;
    transition: var(--mainTransition);
    -webkit-transition: var(--mainTransition);
    -moz-transition: var(--mainTransition);
    -ms-transition: var(--mainTransition);
    -o-transition: var(--mainTransition);
    z-index: -1;
}
.features .container .col:first-child a {
    color: #f44036;
    border-color: #f44036;
}
.features .container .col:hover:first-child a {
    color: white;
}
.features .container .col:hover:first-child a::before {
    width: 100%;
    background-color: #f44036;
}
.features .container .col:nth-child(2) a {
    color: #009688;
    border-color: #009688;
}
.features .container .col:hover:nth-child(2) a {
    color: white;

}
.features .container .col:hover:nth-child(2) a::before {
    width: 100%;
    background-color: #009688;
}
.features .container .col:last-child a {
    color: #03a9f4;
    border-color: #03a9f4;
}
.features .container .col:hover:last-child a {
    color: white;

}
.features .container .col:hover:last-child a::before {
    width: 100%;
    background-color: #03a9f4;
}
/* ___________________Gallery Section End______________________ */


/* ___________________Testimonials Section Start______________________ */
.testimonials {
    background-color: #eee;
}
.testimonials .container {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem 2rem;
}
.testimonials .container .box {
    position: relative;
    padding: 1.5rem 1rem;
    background-color: white;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.testimonials .container .box img {
    position: absolute;
    width: 6rem;
    border: 10px solid #eee;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    right: 0%;
    top: -2.5rem;
}
.testimonials .container .box .role {
    margin: .5rem 0%;
    color: #777;
}
.testimonials .container .box .rating {
    margin-bottom: .5rem;
    
}
/* .testimonials .container .box .rating  i {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
} */
.testimonials .container .box .rating .filled {
    color: #ffc107;
}
.testimonials .container .box p:last-of-type {
    color: #777;
    line-height: 1.6;
}
/* ___________________Testimonials Section End______________________ */


/* ___________________Team Members Section Start______________________ */
.team .container {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap: 2rem;
}
.team .container .box {
    position: relative;
    padding: 4rem 0% 2rem;
}
.team .container .box::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 80%;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background-color: #eee;
    z-index: -1;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.team .container .box::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    right: 0%;
    top: 0%;
    background-color: rgb( 0 0 0 /.02);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    transition-duration: .3s;
    z-index: 1;
}
.team .container .box:hover::after {
    width: 80%;
}
.team .container .box .header {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
}
.team .container .box .image {
    flex: 1;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    overflow: hidden;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.team .container .box:hover .image {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}
.team .container .box .image img {
    width: 100%;
    
}

.team .container .box .icons {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team .container .box .icons a {
    display: block;
    padding: 1rem 1.5rem;
}
.team .container .box .icons a i {
    transition: var(--mainTransition);
    -webkit-transition: var(--mainTransition);
    -moz-transition: var(--mainTransition);
    -ms-transition: var(--mainTransition);
    -o-transition: var(--mainTransition);
}
.team .container .box .icons a:hover i {
    color: var(--mainColor);
}
.team .container .box .content { 
    margin-top: 1rem;
    margin-left: 25%;
}
.team .container .box .content h3 {
    color: var(--mainColor);
    margin-bottom: .5rem;
}

/* ___________________Team Members Section End______________________ */
